/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/03/2024,
    Author     : Oscar Plata
*/
* {
    margin: 0;
    padding: 0;
}
.ui-panelgrid .ui-panelgrid-cell td {
    padding: 1px 3px ;
}

.ui-panelgrid .ui-panelgrid-cell td {
    padding: 1px 3px ;
}
.input {
    width: 95%;
}
.title{
    font-weight: bold;
    font-size: 20px;
}
.header{
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 100;
}

.cardMenu {
    width: 12em;
    cursor: pointer;

    display: inline-block;
    vertical-align: top;
    height: 22em;
}
